<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h2>Admin Login</h2>

    <form th:action="@{/admin/login}" method="post">
        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="password" name="password" placeholder="Enter Password" required>

        <button type="submit">Login</button>
    </form>

    <p th:if="${error}" th:text="${error}" style="color:red;"></p>

    <br>
    <a th:href="@{/}">Back to Home</a>
</div>

</body>
</html>
