<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h2>Student Registration</h2>

    <form th:action="@{/student/register}" th:object="${student}" method="post">
        <input type="text" th:field="*{name}" placeholder="Enter Name" required>
        <input type="email" th:field="*{email}" placeholder="Enter Email" required>
        <input type="text" th:field="*{rollNo}" placeholder="Enter Roll No" required>
        <input type="password" th:field="*{password}" placeholder="Enter Password" required>

        <button type="submit">Register</button>
    </form>

    <br>
    <a th:href="@{/student/login}">Already Registered? Login Here</a>
</div>

</body>
</html>
