<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Take Quiz</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h2 th:text="${quiz.title}"></h2>

    <form th:action="@{'/student/quiz/' + ${quiz.id} + '/submit'}" method="post">

        <div th:each="q, iter : ${questions}">
            <p><b>Q [[${iter.index} + 1]]: </b> <span th:text="${q.questionText}"></span></p>

            <label><input type="radio" th:name="${'q_' + q.id}" value="A" required> <span th:text="${q.optionA}"></span></label><br>
            <label><input type="radio" th:name="${'q_' + q.id}" value="B"> <span th:text="${q.optionB}"></span></label><br>
            <label><input type="radio" th:name="${'q_' + q.id}" value="C"> <span th:text="${q.optionC}"></span></label><br>
            <label><input type="radio" th:name="${'q_' + q.id}" value="D"> <span th:text="${q.optionD}"></span></label><br>

            <hr>
        </div>

        <button type="submit">Submit Quiz</button>
    </form>

    <br>
    <a th:href="@{/student/quizzes}">Back</a>
</div>

</body>
</html>
